<div style="margin:50px"> 
<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group col-lg-3">
    <%= form.text_field :name ,class:"form-control" ,placeholder:"Name" %>
  </div>
  <br>
  <div class="field form-group col-lg-3">
    <%= form.text_field :language ,class:"form-control"  ,placeholder:"Language"%>
  </div>
  <br>
  <div class="field form-group col-lg-3">
    <%= form.number_field :rating ,class:"form-control" ,placeholder:"Rating" %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit class:"btn btn-secondary"%>
  </div>
<% end %>
</div>